.account-page {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.account-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-header > h2 {
    width: 100%;
}

.account-header > button {
    position: absolute;
    right: 0;
    margin-right: 10%;
}

.details-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 72vh;
    text-align: center;
    border: 3px solid var(--primary);
    border-radius: 2em;
    margin-right: 1%;
}

.details-text {
    height: 80%;
    width: 100%;
}

.details-text > p:last-of-type {
    padding-bottom: 2em;
}

.details-text > h4 {
    color: var(--primary)
}

.details-text > p {
    font-size: 1.5em;
    padding: 0.2em;
}

.profile-wrapper {
    width: 45%;
    height: 72vh;
    text-align: center;
    border: 3px solid var(--primary);
    border-radius: 2em;
    margin-left: 1%;
}

.profile-image {
    height: 80%;
}

.image-wrapper {
    height: 80%;
    overflow: hidden;
}

.edit-wrapper {
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

input[type="file"] {
    display: none;
}

.upload-button {
    width: 100%;
    background-color: var(--primary);
    padding: 6px 12px;
    cursor: pointer;
    font-family: var(--body-text);
    color: var(--secondary);
    padding: 0.5em 1em;
    border-radius: 4em;
    margin: 4em;
}

