.login-page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 93vh;
}

.login-page > div > p {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin: 1em 0;
    color: var(--secondary);
}

.button-wrapper {
    margin: 2em 0;
}

.sign-up {
    color: var(--primary);
    text-decoration: none;
}

.sign-up:hover {
    opacity: 0.8;
}