* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: var(--header-text);
    user-select: none;
}

h4, h5 {
    user-select: none;
}
  
h1 {
      font-size: 20em;
      font-weight: 100;
      color: var(--primary);
      text-align: center;
}
  
h2 {
    font-size: 5em;
    text-align: center;
    font-weight: 100;
    color: var(--primary);
    margin: 0.2em 0 0.5em 0;
}

h3 {
    font-size: 3em;
    text-align: center;
    font-weight: 100;
    color: var(--secondary);
    margin: 0.5em 0;
}

h4 {
    font-size: 2em;
    text-align: center;
    font-weight: 100;
    color: var(--secondary);
    margin: 0.5em 0;
}
  
p, h4, h5 {
    font-family: var(--body-text);
}

.button {
    font-family: var(--body-text);
    font-size: 2em;
    padding: 0.5em 1em;
    border-radius: 4em;
    border: none;
    cursor: pointer;
    outline: none;
}

.button {
    background-color: var(--primary);
    color: var(--button-text);
}

.button:hover {
    opacity: 0.9;
}