.button {
    font-family: var(--body-text);
    font-size: 3em;
    padding: 0.3em 1em;
    border-radius: 4em;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

.button:hover {
    background-color: var(--primary);
    color: var(--secondary);
}