@font-face {
  font-family: 'Always Sans';
  src: local('Always Sans'), local('AlwaysSans'),
    url('./assets/fonts/Always_Sans_Font.otf') format('opentype')
}

@font-face {
  font-family: 'Always Script';
  src: local('Always Script'), local('AlwaysScript'),
    url('./assets/fonts/Always_Script_Font.otf') format('opentype')
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #FF0266;
  --secondary: #FFFFFF;
  --background: #212121;
  --header-text: 'Always Script';
  --body-text: 'Always Sans';
}

h1, h2, h3, h4, h5 {
  font-family: var(--header-text);
}

p {
  font-family: var(--body-text);
}


